.Entry {
  position: relative;
  width: 100%;

  .MuiFormControl-root {
    padding: 30px 0 0 0;
  }

  .MuiFormLabel-root {
    &.MuiInputLabel-shrink {
      position: absolute;
      top: 0;
      left: 0;
      color: #b5b5b5;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      font-style: normal;
      letter-spacing: -0.01em;
      transform: unset;
    }
  }

  .MuiFormLabel-filled + .MuiInputBase-root {
    .MuiInputBase-input {
      background-color: #f6f6f6;
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: #ebe6e6;
    }
  }

  .MuiInputBase-root {
    &.Mui-disabled {
      color: #363636 !important;
      opacity: 1;

      .MuiInputBase-input {
        background-color: #eaeaea;
        border-radius: 4px;
      }

      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #ebe6e6;
      }
    }
  }

  .MuiOutlinedInput-root {
    border-radius: 4px;

    &.Mui-error .MuiOutlinedInput-notchedOutline {
      border-color: #d4d9e2;
      border-color: #f44336;
    }
  }

  .MuiOutlinedInput-input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    padding: 15px 12px;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #dadbe0 !important;
    border-width: 1px;
  }

  .MuiOutlinedInput-notchedOutline {
    top: 0;
    border-color: #d4d9e2;
    transition: all 0.3s ease;

    legend {
      display: none;
    }
  }

  .MuiOutlinedInput-multiline {
    padding: 0;
  }

  .MuiFormHelperText-root.Mui-error {
    position: absolute;
    bottom: -15px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    line-height: 11px;
    margin: 0 0 0 5px;
    white-space: nowrap;
  }

  &.half {
    float: left;
    width: 48%;

    & + .half {
      float: right;
    }
  }
}

.EntryDateRange {
  position: relative;
  display: inline-block;

  &__trigger {
  }

  &__dropdown {
    position: absolute;
    top: 0;
    left: 0;

    background: #ffffff;
    border: 1px solid #dae0dc;
    box-sizing: border-box;
    box-shadow: 0px 8px 12px rgba(181, 181, 181, 0.1);
    border-radius: 0 !important;

    overflow: hidden;
    z-index: 999;
  }

  &__picker {
    .rdrDateRangePickerWrapper {
      font-family: "Poppins", sans-serif;

      // # Left Side
      .rdrDefinedRangesWrapper {
        .rdrInputRange,
        .rdrStaticRangeLabel {
          font-family: "Poppins", sans-serif;
          font-size: 11px;
          font-weight: 500;
        }
      }

      // # Right Side
      .rdrDateRangeWrapper {
        font-family: "Poppins", sans-serif;

        .rdrInfiniteMonths.rdrMonthsVertical {
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background: #363636;
          }

          .rdrDay {
            &.rdrDayToday {
              .rdrDayNumber {
                span::after {
                  background: #fab207;
                }
              }
            }

            &.rdrDayPassive {
              .rdrDayNumber {
                span {
                  color: #849095;
                  color: transparent;
                }
              }
            }

            .rdrDayNumber {
              span {
                font-family: "Poppins", sans-serif;
                color: #363636;
                font-size: 11px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

//# EntryAutocomplete
.EntryAutocomplete {
  .MuiInputBase-root.MuiAutocomplete-inputRoot {
    padding: 15px !important;
    padding-right: 35px !important;

    &.MuiInputBase-adornedStart {
      padding: 4px 15px !important;
    }
  }

  .MuiAutocomplete-input {
    outline: 0;
    padding: 0 !important;
  }

  .MuiAutocomplete-endAdornment {
    top: 0.7rem;
    .MuiAutocomplete-clearIndicator {
      svg {
        color: #aaaeb4;
        font-size: 2rem;
      }
    }
    .MuiAutocomplete-popupIndicator {
      svg {
        color: #aaaeb4;
        font-size: 3.6rem;
      }
    }
  }

  //- Chip
  .MuiChip-root.MuiAutocomplete-tag {
    height: 3.1rem;
    background-color: #f2f4f6;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 0.2rem;
    .MuiChip-label {
      color: #363636 !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
    }
    .MuiSvgIcon-root.MuiChip-deleteIcon {
      width: 15px;
    }
  }
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-listbox {
    .MuiAutocomplete-option {
      color: #363636 !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400 !important;
      font-size: 15px !important;
      line-height: 21px !important;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
}

.MuiAutocomplete-NoOption {
  opacity: 1;
  color: #363636 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 21px !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.MuiAutocomplete-groupLabel {
  color: #363636 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 24px !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-listbox {
    .MuiAutocomplete-option {
      color: #363636 !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400 !important;
      font-size: 15px !important;
      line-height: 21px !important;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
}

.MuiAutocomplete-option {
  height: 50px;

  .__service {
    flex: 1;
    display: flex;

    color: #363636 !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 14px !important;

    .__check {
    }

    .__name {
      flex: 3;
      font-weight: 500 !important;
    }
    .__duration {
      flex: 1;
      color: #b5b5b5 !important;
    }
    .__price {
      flex: 1;
      text-align: right;
      font-weight: 600 !important;

      .__from {
        font-weight: 400 !important;
        margin: 0 7px 0 0;
      }
    }
  }
}

.MuiAutocomplete-NoOption {
  opacity: 1;
  color: #363636 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 21px !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.MuiAutocomplete-groupLabel {
  display: flex;
  font-family: "Poppins", sans-serif;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .__label {
    flex: 1;
    color: #363636;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid red;
  }
  .__check {
    color: #fab207;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    width: 30px;
    margin: 0 10px 0 0;
    border: 1px solid red;
  }
}

//# EntryAutocompleteSingle
.EntryAutocomplete {
  .MuiInputBase-root.MuiAutocomplete-inputRoot {
    padding: 15px !important;
    padding-right: 35px !important;

    &.MuiInputBase-adornedStart {
      padding: 4px 15px !important;
    }
  }

  .MuiAutocomplete-input {
    outline: 0;
    padding: 0 !important;
  }

  .MuiAutocomplete-endAdornment {
    top: 0.7rem;
    .MuiAutocomplete-clearIndicator {
      svg {
        color: #aaaeb4;
        font-size: 2rem;
      }
    }
    .MuiAutocomplete-popupIndicator {
      svg {
        color: #aaaeb4;
        font-size: 3.6rem;
      }
    }
  }

  //- Chip
  .MuiChip-root.MuiAutocomplete-tag {
    height: 3.1rem;
    background-color: #f2f4f6;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 0.2rem;
    .MuiChip-label {
      color: #363636 !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
    }
    .MuiSvgIcon-root.MuiChip-deleteIcon {
      width: 15px;
    }
  }
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-listbox {
    .MuiAutocomplete-option {
      color: #363636 !important;
      font-family: "Poppins", sans-serif;
      font-weight: 400 !important;
      font-size: 15px !important;
      line-height: 21px !important;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
}

.MuiAutocomplete-NoOption {
  opacity: 1;
  color: #363636 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 21px !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.MuiAutocomplete-groupLabel {
  color: #363636 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 24px !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

//# EntryCheckbox
.EntryCheckbox {
  color: #c1c5d0;
  font-size: 1.5rem;
  font-family: "CircularStd";

  .MuiFormControlLabel-root {
    margin: 0 0.8rem 0 0;

    &.MuiFormControlLabel-labelPlacementStart {
      .MuiButtonBase-root {
        margin: 0 0 0 1.1rem;
      }
    }
  }
  .MuiButtonBase-root {
    padding: 0 1.1rem 0 0;
    padding: 0;
    margin: 0 1.1rem 0 0;
  }
  .MuiSvgIcon-root {
    color: #c1c5d0;
    height: 2rem;
    min-height: 15px;
    width: 2rem;
    min-width: 15px;
  }

  .Mui-checked {
    .MuiSvgIcon-root {
      color: #fab207;
    }
  }

  .__label {
    color: #363636;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
  }
}

//# EntryCountries
.EntryCountries {
  position: relative;

  .__label {
    color: #363636;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;

    position: absolute;
    top: 0;
    left: 0;
    color: #b5b5b5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: -0.01em;
    transform: unset;
  }

  .__entry {
    & > button {
      height: 49px;
      border: 1px solid #ebe6e6;

      &:after {
        margin: 0 10px 0 0;
        border-top: 5px solid #b5b5b5;
        border-bottom: unset;
        transform: scale(1.4);
      }
    }
  }
}

//# EntryColor
.EntryColor {
  position: relative;
  cursor: pointer;

  svg {
    color: #545454;
    font-size: 30px;
    margin: 0 2px 0 0;
  }

  .MuiInputBase-root {
    padding: 0;

    .MuiInputAdornment-root {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 49px;
      min-height: unset;
      max-height: 100%;
      margin: 0;
      background-color: #fff;
      border-radius: 8px 0 0 8px;
      border: 1px solid transparent;
      border-right-color: #f7f7f7;
      z-index: 0;

      div {
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
    }

    fieldset {
      z-index: 9;
    }
  }

  &__dropdown {
    position: absolute;
    top: 85px;
    left: 0;
    // width: 300px;
    padding: 10px 4px 4px 4px;

    display: flex;
    flex-wrap: wrap;

    background: #fff;
    border: 1px solid rgba(218, 224, 220, 0.9);
    box-sizing: border-box;
    box-shadow: 0px 8px 12px rgba(181, 181, 181, 0.1);
    border-radius: 0 !important;

    overflow: hidden;
    z-index: 999;
  }

  &__item {
    display: flex;

    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 6px 6px 6px;

    cursor: pointer;
  }
}

//# EntryColorNew
.EntryColorNew {
  position: relative;

  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 1px;
    bottom: 4px;
    height: 40px;
    width: 50px;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid transparent;
    border-right-color: #f7f7f7;
    z-index: 9;

    &__inner {
      height: 30px;
      width: 30px;
      border-radius: 5px;
    }
  }

  &__picker {
    //# Input
    & > div:nth-child(1) {
      width: 100% !important;
      padding: 30px 0 0 0 !important;

      & > label {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        color: #b5b5b5 !important;
        background-color: transparent !important;
        font-family: "Poppins", sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 24px !important;
        font-style: normal !important;
        letter-spacing: -0.01em !important;
        transform: unset !important;
      }

      & > div {
        position: relative !important;
        border-radius: 4px !important;
        border: 1px solid #d4d9e2 !important;
        height: 49px !important;
        max-height: 49px !important;
        margin: 0 !important;
        overflow: hidden !important;

        input {
          color: #000 !important;
          font-family: "Poppins", sans-serif !important;
          font-weight: 500 !important;
          font-size: 14px !important;
          line-height: 24px !important;
          font-style: normal !important;
          padding: 15px 12px 15px 55px !important;
          background-color: #fff !important;
          cursor: pointer !important;
        }

        &::before,
        &::after {
          display: none !important;
        }
      }
    }

    //# Color dropdown
    & > div:nth-child(2) {
      top: 90px !important;
      // right: 0 !important;
      left: 0 !important;

      .chrome-picker {
        box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 2px, rgba(0, 0, 0, 0.1) 0px 4px 8px !important;

        & > div:nth-child(2) {
          padding: 12px !important;

          & > div:nth-child(1) {
            & > div:nth-child(1) {
              display: none !important;
            }
            & > div:nth-child(2) {
              & > div:nth-child(1) {
                margin: 0 !important;
              }
              & > div:nth-child(2) {
                display: none !important;
              }
            }
          }
          & > div:nth-child(2) {
            display: none !important;
          }
        }
      }
    }
  }
}

//# EntryCurrency
.EntryCurrency {
  .MuiInputBase-root {
    padding: 0;

    .MuiInputAdornment-root {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 49px;
      min-height: unset;
      max-height: 100%;
      margin: 0;
      background-color: #f7f7f7;
      border-radius: 8px 0 0 8px;
      border: 1px solid transparent;
      z-index: 0;

      p {
        color: #545454;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
      }
    }

    fieldset {
      z-index: 9;
    }
  }
}

//# EntryDate
.EntryDate {
  .MuiInputBase-root {
    font-size: 1.4rem;
    padding: 0;
  }
  .MuiInputAdornment-root {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 0;
    margin: 0;
  }
  .MuiButtonBase-root {
    padding: 0;
  }
  .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: #fab207;
  }
  .MuiInput-underline:after {
    display: none;
  }
  .MuiInputBase-input {
    padding: 1.6rem;
  }
  .MuiFormControl-marginNormal {
    margin: 0;
  }
  .MuiFormHelperText-root {
    display: none;
  }
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    display: none;
  }
  .MuiInput-underline:focus:not(.Mui-disabled):before {
    display: none;
  }
}

//- Container
.EntryDateContainer {
  .MuiPaper-root {
    width: 315px;

    .MuiDialogContent-root {
      .MuiToolbar-root {
        background-color: #fab207;

        & > .MuiButtonBase-root {
          &:nth-child(1) {
            .MuiTypography-root {
              color: #fff;
              font-family: "Poppins", sans-serif;
              font-size: 16px;
              line-height: 26px;
            }
          }

          &:nth-child(2) {
            .MuiTypography-root {
              color: #fff;
              font-family: "Poppins", sans-serif;
              font-size: 22px;
              line-height: 30px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .MuiDialogActions-root {
      border-top: 1px solid #e0e0e0;

      .MuiButtonBase-root {
        .MuiButton-label {
          color: #010101;
          font-family: "Poppins", sans-serif;
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
        }

        &:nth-child(1) {
          .MuiButton-label {
            font-size: 12px;
          }
        }

        &:nth-child(2) {
          width: 64px;
          height: 32px;
          background-color: #010101;
          border-radius: 4px;

          .MuiButton-label {
            color: #fff;
          }
        }
      }
    }
  }
}

//- Calendar
.MuiPickersBasePicker-pickerView {
  position: relative;

  //# Year View
  .MuiPickersYearSelection-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #363636;
    }

    .MuiTypography-root {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;

      width: 20%;
      height: 40px;
      padding: 5px;
      margin: 0;

      &.MuiPickersYear-yearSelected {
        color: #fab207;
        margin: 0;
      }

      &:hover {
        color: #fab207;
      }
    }
  }

  //# Month View
  .MuiPickersMonthSelection-container {
    .MuiTypography-root {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;

      &:hover {
        color: #fab207;
      }

      &.MuiPickersMonth-monthSelected {
        color: #fab207;
        margin: 0;
      }

      &.MuiPickersMonth-monthDisabled {
        color: rgba(0, 0, 0, 0.38) !important;
      }
    }
  }

  //# Day View
  //- Header
  .MuiPickersCalendarHeader-transitionContainer {
    .MuiTypography-root {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
  }

  .MuiSvgIcon-root {
    font-size: 25px;
  }

  .MuiPickersCalendarHeader-daysHeader {
    .MuiTypography-root {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 30px;
    }
  }

  //- Content
  .MuiPickersSlideTransition-transitionContainer {
    .MuiPickersDay-day {
      background-color: transparent;

      .MuiTypography-root {
        color: #363636;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 20px;
      }

      &.MuiPickersDay-current {
        .MuiTypography-root {
          color: #363636;
        }
      }

      &.MuiPickersDay-daySelected {
        background-color: #fab207;

        .MuiTypography-root {
          color: #fff;
        }
      }

      &.MuiPickersDay-dayDisabled {
        .MuiTypography-root {
          color: rgba(0, 0, 0, 0.38);
        }
      }
    }
  }
}

//# EntryPassword
.EntryPassword {
  .MuiOutlinedInput-input {
    padding-right: 40px;
  }

  .MuiOutlinedInput-adornedEnd {
    padding: 0;
  }

  .__show-hide,
  .__forgot-password {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
  }

  .__show-hide {
    color: #b5b5b5;
    position: absolute;
    right: 15px;
    cursor: pointer;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .__forgot-password {
    position: absolute;
    top: 0.5rem;
    right: 2px;
    color: #fab207;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    z-index: 99;
  }
}

//# EntryPhone
.EntryPhone {
  .MuiInputBase-root {
    display: flex;
  }

  .MuiOutlinedInput-root {
    padding: 0;

    .MuiInputAdornment-root {
      display: flex;
      justify-content: center;
      width: 80px;
      padding: 0;
      margin: 0;

      button {
        svg {
          // transform: scale(0.8);
        }
      }
    }
  }

  .MuiInputAdornment-root {
    .MuiButtonBase-root {
      display: flex;
      height: auto;
      background-color: transparent;
      padding: 0;
    }
  }

  .MuiOutlinedInput-input {
    height: 1.1876em;
    padding: 15px 12px;
  }
}

#country-menu {
  .MuiPaper-root {
    height: 200px;
    width: 280px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #363636;
    }

    .MuiMenuItem-root {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      font-style: normal;

      .country-name {
      }

      .dial-code {
        font-size: 10px;
        margin: 0 0 0 7px;

        &::before {
          content: "( ";
        }

        &::after {
          content: " )";
        }
      }
    }
  }
}

.EntryPhoneList {
}

//# EntrySelect
.EntrySelect {
  position: relative;

  .MuiInputBase-root {
    height: 49px;

    &.Mui-disabled {
      color: #363636 !important;
      opacity: 1;
    }
  }

  .MuiInputBase-input {
    height: auto;
    padding: 12px;
  }

  .MuiFormControl-root {
    width: 100%;
  }
  .MuiSelect-icon {
    color: #545454;
    font-size: 30px;
    top: calc(50% - 15px);
    right: 2px;
  }

  .MuiOutlinedInput-input {
  }

  option {
    color: #545454;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 10px 0;
  }

  &.__placeholder {
    .MuiOutlinedInput-input {
      color: #b5b5b5;
    }
  }
}

//# EntrySlider
.EntrySlider {
  .MuiFormControl-root {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px 40px;
    margin: 0 0 30px 0;

    .MuiSlider-root {
      padding: 0;
      margin: 0;
      height: 10px;
    }

    // Trail
    .MuiSlider-rail {
      opacity: 1;
      height: 10px;
      background-color: #e8e8ee;
      border-radius: 5px;
      overflow: hidden;
    }

    // Truck
    .MuiSlider-track {
      opacity: 1;
      height: 10px;
      background-color: #ffc857;
      border-radius: 3px;
      overflow: hidden;
    }

    // Mark label
    .MuiSlider-mark {
      opacity: 0;
      width: 1px;
      height: 100%;
      background-color: white;
      background-color: #fab207;
      background-color: #363636;

      &[data-index="1"] {
        opacity: 1;
      }
    }
    .MuiSlider-markLabel {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      letter-spacing: -0.01em;
      font-size: 14px;
      font-weight: 500;

      &.MuiSlider-markLabelActive {
        // color: #fab207;
      }
    }

    // Thumb
    .MuiSlider-thumb {
      height: 23px;
      width: 23px;
      margin-top: -6px;
      background: #fff;
      border: 0.4rem solid #fab207;
    }
  }
}

//# EntrySwitch
.EntrySwitch {
  padding: 0 10px;

  .MuiSwitch-root {
    width: 40px;
    height: 20px;
    padding: 0;
    overflow: unset;
  }

  .MuiSwitch-switchBase {
    padding: 0;

    &.Mui-checked {
      color: #fff;
    }

    &.Mui-checked + .MuiSwitch-track {
      opacity: 1;
      background-color: #fab207;
    }
  }

  .MuiSwitch-thumb {
    width: 16px;
    height: 16px;
    margin: 2px;
    box-shadow: none;
  }

  .MuiSwitch-track {
    width: 40px;
    height: 20px;
    border-radius: 50px;
  }

  .MuiFormControlLabel-label {
    color: #363636;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    white-space: nowrap;
    margin: 0 0 0 14px;
  }
}

//# EntryText
.EntryText {
}

//# EntryTextUnit
.EntryTextUnit {
  .MuiInputBase-root {
    padding: 0;

    .MuiInputAdornment-root {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 49px;
      min-height: unset;
      max-height: 100%;
      margin: 0;
      background-color: #f7f7f7;
      border-radius: 8px 0 0 8px;
      border: 1px solid transparent;
      z-index: 0;

      p {
        color: #545454;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
      }
    }

    fieldset {
      z-index: 9;
    }
  }
}

//# EntryTime
.EntryTime {
  .MuiInputBase-root {
    font-size: 1.4rem;
    padding: 0.65rem 1.2rem;
  }
  .MuiInputAdornment-root {
    //display: none;
  }
  .MuiInput-underline:after {
    display: none;
  }
  .MuiInputBase-input {
    //border: 1px solid #dfdfdf;
    padding: 1.6rem;
    //border-radius: 4px;
  }
  .MuiFormControl-marginNormal {
    margin: 0;
  }
  .MuiFormHelperText-root {
    display: none;
  }
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    display: none;
  }
  .MuiInput-underline:focus:not(.Mui-disabled):before {
    display: none;
  }
}

//# EntryTextWidget
.EntryTextWidget {
  .MuiFormLabel-filled + .MuiInputBase-root .MuiInputBase-input {
    background-color: #fff;
  }

  .MuiInputBase-root {
    padding: 0;

    .MuiOutlinedInput-input {
      font-size: 14px;
    }

    .MuiInputAdornment-root {
      &.MuiInputAdornment-positionStart {
        min-width: 130px;

        p {
          font-weight: 500;
        }
      }

      &.MuiInputAdornment-positionEnd {
        display: flex;
        min-width: 70px;
        border-radius: 0;
        cursor: pointer;

        div {
          flex: 1;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        svg {
          color: #fab207;
          font-size: 20px;
        }
      }
    }
  }
}

//# EntrySelectMultiple
.EntrySelectMultiple {
  position: relative;

  .MuiInputBase-root {
    height: 49px;
  }

  .MuiInputBase-input {
    height: auto;
    padding: 12px;
  }

  .MuiFormControl-root {
    width: 100%;
  }
  .MuiSelect-icon {
    color: #aaaeb4;
    color: #545454;
    font-size: 30px;
    top: calc(50% - 15px);
    right: 2px;
  }

  .MuiOutlinedInput-input {
  }

  optgroup {
    color: #363636;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
  }

  option {
    color: #545454;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 10px 0;
  }

  &.__placeholder {
    .MuiOutlinedInput-input {
      color: #b5b5b5;
    }
  }
}
