.MuiButton-root.Button {
  height: 48px;
  width: 100%;
  border: none;
  border-radius: 50px;
  border-radius: 4px;
  transition: all 0.5s;

  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-weight: 500;
  letter-spacing: 0.01px;
  text-transform: initial;
  white-space: nowrap;
  background-color: #363636;

  &:hover,
  &:active {
    background-color: #363636;
  }

  .ball-loader {
    width: 50px;

    .ball-loader-ball {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  }

  .Button__inner {
    display: flex;
    justify-content: center;
  }

  &.Mui-disabled {
    opacity: 1;
    background-color: #ebeef7;
    border: none;

    .MuiButton-label {
      color: #c3c8d2;
    }

    svg {
      color: #c3c8d2;
    }
  }
}
