.Container {
  width: 100%;
  max-width: 100%;

  margin: 0 auto;

  &__wrapper {
    height: 100%;
    margin: 0 20px;
  }

  &.v95_ {
    max-width: 98%;
  }

  &.v976 {
    max-width: calc(976px + 40px);

    @media (max-width: 1441px) {
      max-width: calc(876px + 40px);
    }

    @media (max-width: 1281px) {
      max-width: calc(776px + 40px);
    }
  }

  &.v1280 {
    max-width: calc(1280px + 40px);

    @media (max-width: 1441px) {
      max-width: calc(960px + 40px);
    }
  }

  &.v1440 {
    max-width: calc(1440px + 40px);

    @media (max-width: 1441px) {
      max-width: calc(1200px + 40px);
    }

    @media (max-width: 1281px) {
      max-width: calc(960px + 40px);
    }
  }
}
