.AuthLayout {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f5f5f5;
  overflow: hidden;

  &__header {
    padding: 60px 0 0 0;
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 90%;
    z-index: 99;

    &__inner {
      background: #ffffff;
      box-shadow: 0px 25px 40px rgba(84, 84, 84, 0.25);
      border-radius: 8px;
      padding: 35px 40px;
    }

    &__header {
      margin: 0 0 30px 0;
    }

    &__title {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      margin: 0 0 20px 0;
    }

    &__desc,
    &__error {
      color: #545454;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
    }

    &__error {
      color: #f44336;
    }

    &__form {
      .Entry {
        margin-bottom: 20px;
      }
    }
  }
}
