.EnsItem {
  background: #fff;

  // border-bottom: 1px solid #eef0f2;

  box-shadow: 0px 12px 16px rgb(181 181 181 / 15%);
  border-radius: 5px;
  margin: 0 0 20px 0;

  &:hover {
    background: #f2f2f7;
  }

  &__inner {
    display: flex;
    padding: 16px 18px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .__col-1 {
    flex: 2;

    .__name {
      color: #363636;
      font-weight: 500;
    }

    .__sub {
      font-size: 12px;
      color: #67768c;
      font-weight: 400;
      margin: 5px 0 0 0;
    }
  }

  .__col-2 {
    flex: 1;
    color: #b5b5b5;
  }

  .__col-3 {
    flex: 1;
    font-size: 13px;
    text-align: right;
    font-weight: 500;
  }
}
