.NavbarUser {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  width: 120px;

  // background-color: red;

  &__search {
  }

  &__notifications {
    position: relative;
    margin: 0 40px 0 0;
    cursor: pointer;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: -4px;
      right: -2px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #fab207;
    }

    svg {
      transform: scale(1.3);
    }

    &.__new {
      &::after {
        display: block;
      }
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    min-width: 40px;
    max-width: 40px;

    // border: 1px solid red;
  }
}

.__user__tmp {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #363636;
  box-shadow: 0px 12px 16px rgb(181 181 181 / 15%);
  cursor: pointer;

  span {
    color: #fff;
    // color: red;
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
  }
}
