.MainLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  &__navbar {
    position: relative;
    height: 60px;
    min-height: 60px;
    flex-basis: 60px;
    // ...
    background-color: #fff;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.06);
    z-index: 9;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 0 45px 0 25px;
    }

    &__logo {
      .Logo {
        display: flex;
        width: 83px;
        height: auto;
      }
    }
    &__user {
      // border: 1px solid red;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
  }

  &__content {
    flex: 1;
    background-color: #f5f5f5;
    width: calc(100vh - 65px);
    height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    // Scrollbar
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #363636;
    }
  }
}
