.DashEnseignementsManage {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0 0;

  &__sep {
    display: flex;
    align-items: center;
    width: 1px;
    padding: 25px 0;
    margin: 0 50px;

    &::after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: #ebebeb;
    }
  }

  &__item {
    flex: 1;

    .__header {
      display: flex;
      align-items: center;
      margin: 0 0 30px 0;

      color: #363636;

      svg {
        // color: #363636;
        font-size: 20px;
        margin: 0 10px 0 0;
      }

      span {
        // color: #b5b5b5;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .__body {
    }
  }

  &__base {
  }

  &__selected {
    .DragList {
      // border: 1px solid red;

      &Empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;

        svg {
          color: #b5b5b5;
          font-size: 45px;
          margin: 0 0 15px 0;
        }

        span {
          color: #b5b5b5;
          font-size: 14px;
        }
      }
    }

    .DragItem {
      cursor: move;

      .__inner {
        align-items: center;
        border: 1px dashed #cdcdcd;
        padding: 5px 10px;
      }
    }
  }
}

.OptionItem {
  display: flex;
  margin: 0 0 10px 0;
  cursor: pointer;

  .__inner {
    flex: 1;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ebebeb;

    .__checkbox {
      width: 35px;

      & > span {
        color: #363636;
        padding: 0 !important;
        margin: 0 10px 0 0 !important;
      }
    }

    .__content {
      flex: 1;
      display: flex;
      flex-direction: column;

      font-size: 14px;

      .__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .__label {
        }

        .__ph {
          font-size: 12px;
        }
      }

      .__bottom {
        font-size: 13px;
        color: #b5b5b5;
      }
    }
  }
}
