.Logo {
  height: 30px;
  width: 82.92px;

  text-align: center;
  // border: 1px solid red;

  svg {
    height: 100% !important;
    width: 100% !important;
  }

  .__tmp {
    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
  }
}
