.AuthSignIn {
  .__error {
    color: red;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 30px auto;
  }
}
