.ManageBox {
  &__navbar {
    background-color: transparent;
    transition: background-color 150ms ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 99;

    &.__elevated {
      background-color: #fff;
      box-shadow: 0px 6px 8px rgba(181, 181, 181, 0.1);
      border-bottom: 1px solid rgba(212, 217, 226, 0.4);
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 30px 60px 20px 60px;
    }

    &__left {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 9;

      div {
        border-left: 1px solid #e7e8e9;
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding-left: 16px;

        p {
          color: #fab207;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.01em;
          margin: 0;
          cursor: pointer;

          &::selection {
            background-color: transparent;
          }
        }
      }
    }

    &__right {
      position: relative;
      display: flex;
      align-items: flex-end;
      z-index: 9;
    }

    &__between {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      opacity: 0;
      transition: all 0.4s ease;

      &.__show {
        opacity: 1;
      }

      .__title {
        color: #363636;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.01em;
        margin: 0;
      }
    }
  }

  &__content {
    // padding: 150px 0 0 0;
    padding: 100px 0 0 0;
  }

  &__header {
    margin: 0 0 14px 0;

    p {
      color: #fab207;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.01em;
      margin: 0;
    }
  }

  &__forms {
    margin: 0 0 100px 0;

    h2 {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      text-align: center;
      letter-spacing: -0.01em;
      margin: 0 0 30px 0;
    }

    .Entry {
      margin: 0 0 20px 0;
    }
  }

  &__box {
    width: 490px;
    padding: 20px 25px;
    margin: 0 auto;
    box-shadow: 0px 12px 16px rgba(181, 181, 181, 0.15);

    &.__large {
      width: 700px;
    }

    &.__big {
      width: 1000px;
    }

    & > h3 {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      margin: 0 0 20px 0;
    }

    & > p {
      color: #545454;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.01em;
      margin: 0 0 20px 0;
    }
  }

  &__box + h2 {
    margin: 40px 0 30px 0;
  }

  &__box + &__box {
    margin: 25px auto 0 auto;
  }
}
