.DashEnseignements {
  padding: 60px 0;

  &__header {
    display: flex;
    margin: 0 0 35px 0;

    & > div {
      flex: 1;
    }

    h2 {
      color: #363636;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: -0.01em;
      margin: 0 0 5px 0;
    }

    p {
      color: #545454;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.01em;
      margin: 0;
    }

    &__action {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      .Entry {
        width: 160px;
        background-color: #fff;
        margin: 0 20px 0 0;

        .MuiInputBase-root {
          height: 50px;
        }

        .MuiFormLabel-filled + .MuiInputBase-root {
          .MuiInputBase-input {
            background-color: #fff;
          }
          .MuiOutlinedInput-notchedOutline {
            border-color: #d4d9e2;
          }
        }

        .MuiFormControl-root {
          padding: 0;
        }
      }
    }
  }

  &__content {
    // box-shadow: 0px 12px 16px rgb(181 181 181 / 15%);
    // border: 1px solid red;
  }
}
